<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>:: Entre Páginas ::</title>
      <!-- BOOTSTRAP -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
      <!-- BOOTSTRAP ICONS -->
      <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <!-- ARQUIVO CSS -->
     <link rel="stylesheet" type="text/css"
	href="../assets/css/stylecss.css" />
   </head>
   <body>
      <!-- ARQUIVO JAVASCRIPT -->
      <script src="../assets/js/javascript.js"></script>
      <div class="conteiner-principal">
         <div class="conteiner-segundario">
            <!-- NAVEGAÇÃO -->
            <header>
               <nav class="navbar navbar-expand-lg fixed-top" id="navbar">
                  <div class="container-fluid">
                     <a class="navbar-brand" href="#">
                     <img src="../assets/img/logo/logo-sem-fundo.png" class="bordas-thumb-logo" alt="" width="60" height="60" />
                     </a>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navVagas" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navVagas">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                           <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                           <li class="nav-item"><a class="nav-link active" href="../views/autores/index.html">Autores</a></li>
                           <li class="nav-item"><a class="nav-link active" href="../views/Livros/index.html">Livros</a></li>
                           <li class="nav-item"><a class="nav-link active" href="../views/Livros/index.html">Editora</a></li>
                           <li class="nav-item"><a class="nav-link active" href="../views/contato/index.html">Contato</a></li>
                        </ul>
                        <div class="d-flex">
                           <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i></a>
                           <a href="#" class="text-dark me-3"><i class="bi bi-instagram"></i></a>
                           <a href="#" class="text-dark me-3"><i class="bi bi-linkedin"></i></a>
                           <a href="#" class="text-dark"><i class="bi bi-twitter"></i></a>
                        </div>
                     </div>
                  </div>
               </nav>
            </header>
            <main>
               <div class="zoom-conteiner">
                  <img src="../assets/img/ImgPaginas/topoHome.png" alt="Imagem para zoom" class="img-fluid" style="width: 100%" />
               </div>
               <!-- CARDS -->
               <div class="container mt-5">
                  <div class="row">
                     <div class="col-lg-6 col-md-12 img-com-texto mb-4 mb-lg-0">
                        <img src="../assets/img/imgCards/1.png" class="img-fluid" />
                     </div>
                     <div class="col-lg-6 col-md-12 img-com-texto">
                        <img src="../assets/img/imgCards/background.png" alt="Imagem" class="img-fluid imagem-texto" />
                        <div class="texto-sobre-img">
                           <p>"Em um mundo onde o tempo é efêmero e a tecnologia avança rapidamente, os livros permanecem como testemunhas silenciosas da história, guardiões da sabedoria e fontes inesgotáveis de imaginação."</p>
                           <a th:href="@{/candidatos}" class="btn btn-secondary mt-3 text-white d-block botoes">Cadastre-se</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container mt-4">
                  <div class="row">
                     <div class="col-lg-6 col-md-12 img-com-texto mb-4 mb-lg-0">
                        <img src="../assets/img/imgCards/1.png" class="img-fluid" />
                     </div>
                     <div class="col-lg-6 col-md-12 img-com-texto">
                        <img src="../assets/img/imgCards/background.png" alt="Imagem" class="img-fluid imagem-texto" />
                        <div class="texto-sobre-img">
                           <p>"Os livros são como portais para mundos desconhecidos, onde cada página é uma aventura e cada palavra é uma descoberta que alimenta a alma."</p>
                           <a href="#" class="btn btn-secondary mt-3 text-white d-block botoes">Cadastre-se</a>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- DESTAQUES INDEX -->
               <div class="container mt-5">
                  <section class="row destaques-index">
                     <h1 class="titulos text-center">ENTRE A LEITURA EXISTE UMA PÁGINA</h1>
                     <div class="row">
                        <div class="col-sm-4">
                           <h4 class="text-center">UMA PORTA</h4>
                           <p class="text-center">"A leitura é a chave que abre as portas da mente."</p>
                        </div>
                        <div class="col-sm-4">
                           <h4 class="text-center">UM SONHO</h4>
                           <p class="text-center">"Um livro é um sonho que você segura em suas mãos."</p>
                        </div>
                        <div class="col-sm-4">
                           <h4 class="text-center">UM MUNDO</h4>
                           <p class="text-center">"Em um mundo de palavras, a leitura é a jornada."</p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-4">
                           <h4 class="text-center">UM LIVRO</h4>
                           <p class="text-center">"Nas páginas de um livro, encontramos o mundo."</p>
                        </div>
                        <div class="col-sm-4">
                           <h4 class="text-center">UM PENSAMENTO</h4>
                           <p class="text-center">"A leitura é a luz que guia os pensamentos."</p>
                        </div>
                        <div class="col-sm-4">
                           <h4 class="text-center">UMA VIDA</h4>
                           <p class="text-center">"Quem lê, vive mil vidas em uma."</p>
                        </div>
                     </div>
                  </section>
               </div>
               <!-- CARDS -->
               <div class="container mt-5">
                  <section class="row">
                     <section class="col-sm-4 zoom-conteiner img-com-texto">
                        <img src="../assets/img/ImgPaginas/construa.png" alt="Imagem para zoom" class="img-fluid" />
                        <div class="texto-sobre-img">CONSTRUA</div>
                     </section>
                     <section class="col-sm-4 zoom-conteiner img-com-texto">
                        <img src="../assets/img/ImgPaginas/novas.png" alt="Imagem para zoom" class="img-fluid" />
                        <div class="texto-sobre-img">NOVAS</div>
                     </section>
                     <section class="col-sm-4 zoom-conteiner img-com-texto">
                        <img src="../assets/img/ImgPaginas/oportunidades.png" alt="Imagem para zoom" class="img-fluid" />
                        <div class="texto-sobre-img">OPORTUNIDADES</div>
                     </section>
                  </section>
               </div>
            </main>
         </div>
         <!-- RODAPÉ -->
         <footer class="container-fluid rodape mt-4">
            <div class="footer">
               <section class="row">
                  <section class="col about-company text-center mt-3">
                     <p>
                        <span class="bi bi-facebook"><a href="#" class="link-dark" style="text-decoration: none"></a></span>
                        <span class="bi bi-instagram"><a href="#" class="link-dark" style="text-decoration: none"></a></span>
                        <span class="bi bi-linkedin"><a href="#" class="link-dark" style="text-decoration: none"></a></span>
                        <span class="bi bi-twitter"><a href="#" class="link-dark" style="text-decoration: none"></a></span>
                     </p>
                  </section>
               </section>
               <section class="row">
                  <section class="col copyright text-center">
                     <p class="">
                        <small class="text-dark">Entre Páginas | © 2023. Todos os Direitos Reservados.</small>
                     </p>
                  </section>
               </section>
            </div>
         </footer>
      </div>
   </body>
</html>